@page "{restaurantId:int?}"
@model RestaurantViewer.Pages.Restaurants.DetailModel
@{
}

<h2>@Model.Restaurant.Name</h2>
<div>
    Id: @Model.Restaurant.Id
</div>
<div>
    Location: @Model.Restaurant.Location
</div>
<div>
    Cuisine: @Model.Restaurant.Cuisine
</div>

<hr />

<a asp-page="./Index" class="btn btn-secondary">All Restaurants</a>
